<ion-view view-title="Saturday">
  <ion-content style="background-color: #EEEEEE;">
    <div class="card" style="margin-top: 15px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">OOPJ :: APS ::  <strong>A302</strong></h4>
      <h6>0930 - 1025</h6>
    </div>
    <div class="card" style="margin-top:-5px;height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">SP :: MO :: <strong>A302</strong></h4>
      <h6>1025 - 1120</h6>
    </div>
    <div class="card" style="margin-top: -5px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">OOPJ-L :: APS :: <strong>L004</strong></h4>
      <h6>1200 - 1350</h6>
    </div>
    <div class="card" style="margin-top: -5px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">DAA-L :: KK :: L003</h4>
      <h6>1420 - 1620</h6>
    </div>
  </ion-content>
</ion-view>