<ion-view view-title="Tuesday">
  <ion-content style="background-color: #EEEEEE;">
    <div class="card" style="margin-top: 15px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">MI-L :: NA ::  <strong>EC</strong></h4>
      <h6>0930 - 1120</h6>
    </div>
    <div class="card" style="margin-top:-5px;height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">MI :: MS :: <strong>A302</strong></h4>
      <h6>1200 - 1255</h6>
    </div>
    <div class="card" style="margin-top: -5px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">OOPJ :: APS :: <strong>A302</strong></h4>
      <h6>1255 - 1350</h6>
    </div>
    <div class="card" style="margin-top:-5px;height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">SP :: MO :: <strong>A301</strong></h4>
      <h6>1420 - 1520</h6>
    </div>
    <div class="card" style="margin-top: -5px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">LIB</h4>
      <h6>1520 - 1620</h6>
    </div>
  </ion-content>
</ion-view>