<ion-view view-title="Wednesday">
  <ion-content style="background-color: #EEEEEE;">
    <div class="card" style="margin-top: 15px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">OOPJ :: APS ::  <strong>A323</strong></h4>
      <h6>0930 - 1025</h6>
    </div>
    <div class="card" style="margin-top:-5px;height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">DAA :: KK :: <strong>A323</strong></h4>
      <h6>1025 - 1120</h6>
    </div>
    <div class="card" style="margin-top: -5px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">CS-L :: MS :: <strong>L017</strong></h4>
      <h6>1255 - 1350</h6>
    </div>
    <div class="card" style="margin-top: -5px; height: auto; padding: 0 10px">
      <h4 style="font-family: monospace; font-weight: 100;">LIB</h4>
      <h6>1420 - 1620</h6>
    </div>
  </ion-content>
</ion-view>